Nombre_Proyecto=Plataforma Escolar con validacion Biometrica
Version_Proyecto=1.0.0
API_Version=/api/v1

ENV=development
DEBUG=true

DB_UR=
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

JWT_SECRET=
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=30

UPLOAD_DIRECTORY=uploads

CLOUDINARY_URL=

SMTP_SERVER=
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=
SMTP_USE_TLS=true